[access]
	inheritFrom = All-Projects
[submit]
	action = merge always
[access "refs/*"]
	owner = group user/cyberDay777
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/cyberDay777
	label-Verified = -1..+1 group user/cyberDay777
	push = group user/cyberDay777
	read = group user/cyberDay777
	rebase = group user/cyberDay777
	removeReviewer = group user/cyberDay777
	submit = group user/cyberDay777
[access "refs/heads/*"]
	create = group user/cyberDay777
	push = +force group user/cyberDay777
	pushMerge = group user/cyberDay777
	read = group user/cyberDay777
[access "refs/tags/*"]
	push = group user/cyberDay777
	push = +force group user/cyberDay777
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[change]
	workInProgressByDefault = false
